body {
	font-family: sans-serif;
}

.popup h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}

#inventar {
	width: 90%;
	max-width: 700px;
}
.single_item_popup {
	width: 100px;
	height: 100px;
	border: 1px solid rgb(36, 36, 44);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-right: 5px;
	margin-bottom: 5px;
}
.single_item_popup img{
	width: 100px;
	height: auto;
}
.popup hr {
	background-color: rgb(36, 36, 44);
	height: 1px;
	border: none;
}

.item_popup_inventar {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.popup p {
	color: #cfcfcf;
	font-size: 15px;
}
.popup {
	position: fixed;
	top: 20%;
	right: 0;
	left: 0;
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
	opacity: 0;
	height: 600px;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
	visibility: hidden;
	z-index: 9999;
}
.input_block {
	background: rgb(28, 27, 35)
}
.history {
	background: rgb(25, 25, 31)

}
.popup h3 {
	font-size: 16px;
	color: #cfcfcf;
}
.popup > * {
	padding: 15px;
}
.history h3{
	margin-bottom: 0;
}
.history hr{
	margin-top: 15px;
	margin-bottom: 15px;
}
.popup input {
	height: 50px;
	width: 100%;
	padding-left: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	font-size: 23px;
	color: #fff;
	background: rgb( 18, 18, 23);
	border: none;
}
.popup input[type="submit"] {
	height: 50px;
	width: 30%;
	font-size: 18px;
	margin-left: 5%;
	padding: 0;
	border: none;
	text-transform: uppercase;
	outline: none;
	color: rgb(149, 149, 149); 
	background: rgb(14, 14, 16);
}
.mask {
	background: rgba(0, 0, 0, .8);
	height: 100vh;
	width: 100vw;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9998;
}
.block_new {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 40px;
}
.right_popup_table_block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 50%;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
.table_block {
	color: #cfcfcf;
}
.table_block, .table_head {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	width: 100%;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
#vivod .block_new {
	margin-top: 10px;
	margin-bottom: 10px;
}
.popup .popup_warn {
	color: red;
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: .6;
}

.table_head {
	color: rgb(69, 122, 154);
}

.close_popup {
	color: #fff;
	opacity: 0.7;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 5px;
	height: 5px;
	display: flex;
	justify-content: center ;
	align-items: center ;
	display: -webkit-flex;
	-webkit-justify-content: center ;
	-webkit-align-items: center ;
	background-color: rgb(40, 40, 49);
}
.close_popup:hover{
	cursor: pointer;
	opacity: 1;
	-webkit-transition: all .3s;
	 -o-transition: all .3s;
	 transition: all .3s; 
}