<form method='get' action='http://www.free-kassa.ru/merchant/cash.php', class="confirm">
    <input type='hidden' name='m' value='<%= @merchant_id %>'>
    <input type='hidden' name='oa' value='<%= @order_amount.to_s %>'>
    <input type='hidden' name='o' value='<%= @order_id %>'>
    <input type='hidden' name='s' value='<%= @sign %>'>
    <input type='hidden' name='us_user_uid' value='<%= current_user.uid %>'>
</form>
<script>
  $(document).ready(function(){
    $(".confirm").submit();
  })
</script>