Платеж успешно проведен <br>
<%= request.host %> <br>
<%= request.method %> <br>
<%= request.headers.class %> <br>
<%= request.protocol %> <br>
<%= request.params %> <br>
<%= @amount %> <br>
<%= @order_id %> <br>
<%= @order.user.name %> <br>
<%= @sign %> <br>
<%= @sample_sign %> <br>