$("#play-btn").hide();
$(".case-open__ico").hide();
$(".carousel").show();
$(".pricel").show();
// Слайдер
$('.owl-carousel').owlCarousel({
    loop : false,
    item : 3,
    mouseDrag : false,
    touchDrag : false,
    pullDrag : false,
    center:true,
    URLhashListener : true,
    startPosition: 'URLHash'
});

// Передаем сгенерированое число в атрибут ссылки(к чему будет крутиться)
var random_item = <%= @random %>;
location.hash = '#' + random_item;
// alert(random_item);

// Шторки
$('.doors_left').delay(2000).animate({left: '0'}, 400).delay(2000).animate({left: '-50vw'}, 400);
$('.doors_right').delay(2000).animate({right: '0'}, 400).delay(2000).animate({right: '-50vw'}, 400);
$('.doors .weapon-item').delay(2200).fadeIn().delay(1800).fadeOut();
$('.bg_item_block').delay(2200).fadeIn().delay(1800).fadeOut();

// Вывод выиграного оружия
$('.owl-item .item_car').each(function(i){
    var data_item = $(this).attr('data-hash');
    if (data_item == random_item) {
        console.log(this);
        var html_item = $(this).html();
        $('.doors .weapon-item').html(html_item);
    }
});
var delay = 3600;
//setTimeout(function(){ $( "#go-case-js" ).load(window.location.href + " #go-case-js" ); }, delay);
//setTimeout(function(){ $( "#auth-js" ).load(window.location.href + "#auth-js" ); }, delay);
setTimeout(function(){ $("#user_credits").text(<%= @user.credits %>); }, delay);
setTimeout(function(){ $("#user_balance").text(<%= @user.balance %>); }, delay);
setTimeout(function(){ $("#test").load("/ #test"); }, delay);