@media (max-width: 1200px) {
	.header .header__menu ul li{
		margin-right: 10px;
	}
	.header .header__menu ul li a{
		font-size: 9px;
	}
	.top-info .top-info__item:first-child:after{
		display: none;
	}
	.drop-item__info p{
		font-size: 10px;
	}
	.live-drop{
		padding: 25px 50px;
	}
	.weapon-item .weapon-item__info{
		font-size: 12px;
	}
	.footer .footer__bot{
		padding-left: 0;
		padding-right: 0;
	}
	.case-item{
		width: 40%;
		margin: 0 20px;
	}
	.case-item p{
		font-size: 14px;
	}
	.profit, .autorization__person, .balance{
		margin-right: 10px;
	}
	.autorization button{
		width: 150px;
	}
}
@media (max-width: 991px) {
	.weapon-item .weapon-item__img img{
		width: 90%;
	}
	.autorization__person{
		max-width: 280px;
		margin: 20px auto;
		display: block;
	}
	.weapon-item .weapon-item__info{
		font-size: 10px;
	}
	.privacy{
		margin-left: 0;
	}
	.header .header__menu ul li{
		margin-right: 3px;
	}
	.header .header__menu ul li a{
		font-size: 7px;
	}
	.weapon-item{
		width: 33.3333%;
	}
	.contacts-bot .contacts-item{
		width: 100% !important;
		border: none;
		padding-left: 0;
		margin: 15px 0;
		text-align: center;
		
	}
	.contacts-bot{
		margin: 15px auto;
	}
	.input-wrap{
		width: 100%;
	}
	.send-btn button{
		width: 95%;
		display: block;
		margin: 15px auto;
	}
	.player-item{
		width: 50%;
	}
	.top-player{
		height: auto;
	}
}
@media (max-width: 767px) {
	.case-item{
		width: 90%;
		margin: 10px auto;
	}
	.log-out{
		float: none;
		display: inline-block;
	}
	.autorization--in{
		text-align: center;
		padding: 0;
	}
	.weapon-item .weapon-item__img img{
		width: auto;
	}
	.burger{
		display: block;
	}
	.header__menu{
		display: none;
	}
	.top-info .top-info__item p {
		font-size: 0;
	}
	.top-info .top-info__item  p span{
		font-size: 10px;
	}
	.top-info{
		padding-top: 10px;
	}
	.top-info:after{
		display: none;
	}
	.header .header__menu ul li{
		display: block;
	}
	.links .links__active:after{
		bottom: -4px;
		height: 1px;
	}
	.header .header__menu ul:after{
		bottom: -10px;
	}
	.header .header__menu ul{
		padding-top: 0;
	}
	.weapon-item{
		width: 50%;
	}
	.teh, .wellet, .privacy{
		float: none;
		text-align: center;
		display: block;
		margin: 15px 0;
	}
	.case-win__midle{
		height: 200px;
	}
	.case-win__top p{
		font-size: 14px;
	}
	.case-win__top{
		height: auto;
	}
	.top-ico{
		left: 5px;
	}
	.player-item{
		width: 100%;
	}
	.list-table .list-line .list-cell:nth-child(2){
		padding-left: 5px;
		text-align: center;
		width: 43%;
	}
	.list-table .list-line .list-cell:first-child{
		width: 10%;
	}
	.list-table .list-line .list-cell:nth-child(2) p{
		font-size: 11px;
	}
	.list-table .list-line .list-cell:nth-child(3), .list-table .list-line .list-cell:nth-child(4){
		font-size: 11px;
	}
	.list-table .list-line .list-cell:nth-child(2) img{
		margin: 5px auto;
		display: block;
		
	}
	.header .header__menu ul li a{
		font-size: 12px;
	}
}
@media (max-width: 513px) {
	.top-info{
		display: none;
	}
	.profit p, .balance p{
		font-size: 12px;
	}
	.autorization button{
		height: 40px;
		width: 140px;
	}
	.profit, .autorization__person, .balance{
		margin-right: 0;
	}
	.block{
		padding: 0;
	}
	.block .block__title{
		position: static;
		transform: none;
	}
	.case-win__top p{
		font-size: 12px;
	}
	.case-win__bot{
		height: auto;
	}
	.weapon-name, .weapon-cost{
		font-size: 13px;
	}
	.weapon-item{
		width: 100%;
	}
	.footer .footer__logo{
		margin-bottom: 0;
	}
	.weapon-wrap{
		margin-bottom: 20px;
	}
	.wellet a{
		display: block;
		margin-left: 0;
		margin-bottom: 10px;
	}
}