/*! import */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'display';
  src: url('../fonts/SFUIDisplay-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'display';
  src: url('../fonts/SFUIDisplay-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'display';
  src: url('../fonts/SFUIDisplay-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'text';
  src: url('../fonts/SFUIText-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'text';
  src: url('../fonts/SFUIText-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'text';
  src: url('../fonts/SFUIText-Heavy.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'text';
  src: url('../fonts/SFUIText-BoldG1.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*! global */
html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4;
  color: #373a3c;
  background-color: #fff;
}
*,*:before,*:after{
  box-sizing: inherit;
}
address,dl,ol,p,ul {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
dl,ol,p,pre,ul {
  margin-top: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 0;
  margin-bottom: 8px;
  margin-bottom: .5rem;
}
p{
  margin-top: 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
h1{
  font-size: 40px;
  font-size: 2.5rem;
}
h2{
  font-size: 32px;
  font-size: 2rem;
}
h3{
  font-size: 28px;
  font-size: 1.75rem;
}
h4{
  font-size: 24px;
  font-size: 1.5rem;
}
h5{
  font-size: 20px;
  font-size: 1.25rem;
}
h6{
  font-size: 16px;
  font-size: 1rem;
}
img{
  max-width: 100%;
}
/*! grid */

.container:after {
  content: '';
  display: table;
  clear: both;
}


.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 513px) {
  .container {
    max-width:576px
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 750px
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1300px
  }
}
.container-fluid:after {
  content: '';
  display: table;
  clear: both;
}
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row__col-lg-1,.row__col-lg-10,.row__col-lg-11,.row__col-lg-12,.row__col-lg-2,.row__col-lg-3,.row__col-lg-4,.row__col-lg-5,.row__col-lg-6,.row__col-lg-7,.row__col-lg-8,.row__col-lg-9,.row__col-md-1,.row__col-md-10,.row__col-md-11,.row__col-md-12,.row__col-md-2,.row__col-md-3,.row__col-md-4,.row__col-md-5,.row__col-md-6,.row__col-md-7,.row__col-md-8,.row__col-md-9,.row__col-sm-1,.row__col-sm-10,.row__col-sm-11,.row__col-sm-12,.row__col-sm-2,.row__col-sm-3,.row__col-sm-4,.row__col-sm-5,.row__col-sm-6,.row__col-sm-7,.row__col-sm-8,.row__col-sm-9,.row__col-xl-1,.row__col-xl-10,.row__col-xl-11,.row__col-xl-12,.row__col-xl-2,.row__col-xl-3,.row__col-xl-4,.row__col-xl-5,.row__col-xl-6,.row__col-xl-7,.row__col-xl-8,.row__col-xl-9,.row__col-xs-1,.row__col-xs-10,.row__col-xs-11,.row__col-xs-12,.row__col-xs-2,.row__col-xs-3,.row__col-xs-4,.row__col-xs-5,.row__col-xs-6,.row__col-xs-7,.row__col-xs-8,.row__col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.row__col-xs-1,.row__col-xs-10,.row__col-xs-11,.row__col-xs-12,.row__col-xs-2,.row__col-xs-3,.row__col-xs-4,.row__col-xs-5,.row__col-xs-6,.row__col-xs-7,.row__col-xs-8,.row__col-xs-9 {
  float: left
}
.row__col-xs-1 {
  width: 8.333333%
}
.row__col-xs-2 {
  width: 16.666667%
}
.row__col-xs-3 {
  width: 25%
}
.row__col-xs-4 {
  width: 33.333333%
}
.row__col-xs-5 {
  width: 41.666667%
}
.row__col-xs-6 {
  width: 50%
}
.row__col-xs-7 {
  width: 58.333333%
}
.row__col-xs-8 {
  width: 66.666667%
}
.row__col-xs-9 {
  width: 75%
}
.row__col-xs-10 {
  width: 83.333333%
}
.row__col-xs-11 {
  width: 91.666667%
}
.row__col-xs-12 {
  width: 100%
}
.row__col-xs-pull-0 {
  right: auto
}
.row__col-xs-pull-1 {
  right: 8.333333%
}
.row__col-xs-pull-2 {
  right: 16.666667%
}
.row__col-xs-pull-3 {
  right: 25%
}
.row__col-xs-pull-4 {
  right: 33.333333%
}
.row__col-xs-pull-5 {
  right: 41.666667%
}
.row__col-xs-pull-6 {
  right: 50%
}
.row__col-xs-pull-7 {
  right: 58.333333%
}
.row__col-xs-pull-8 {
  right: 66.666667%
}
.row__col-xs-pull-9 {
  right: 75%
}
.row__col-xs-pull-10 {
  right: 83.333333%
}
.row__col-xs-pull-11 {
  right: 91.666667%
}
.row__col-xs-pull-12 {
  right: 100%
}
.row__col-xs-push-0 {
  left: auto
}
.row__col-xs-push-1 {
  left: 8.333333%
}
.row__col-xs-push-2 {
  left: 16.666667%
}
.row__col-xs-push-3 {
  left: 25%
}
.row__col-xs-push-4 {
  left: 33.333333%
}
.row__col-xs-push-5 {
  left: 41.666667%
}
.row__col-xs-push-6 {
  left: 50%
}
.row__col-xs-push-7 {
  left: 58.333333%
}
.row__col-xs-push-8 {
  left: 66.666667%
}
.row__col-xs-push-9 {
  left: 75%
}
.row__col-xs-push-10 {
  left: 83.333333%
}
.row__col-xs-push-11 {
  left: 91.666667%
}
.row__col-xs-push-12 {
  left: 100%
}
.row__col-xs-offset-0 {
  margin-left: 0
}
.row__col-xs-offset-1 {
  margin-left: 8.333333%
}
.row__col-xs-offset-2 {
  margin-left: 16.666667%
}
.row__col-xs-offset-3 {
  margin-left: 25%
}
.row__col-xs-offset-4 {
  margin-left: 33.333333%
}
.row__col-xs-offset-5 {
  margin-left: 41.666667%
}
.row__col-xs-offset-6 {
  margin-left: 50%
}
.row__col-xs-offset-7 {
  margin-left: 58.333333%
}
.row__col-xs-offset-8 {
  margin-left: 66.666667%
}
.row__col-xs-offset-9 {
  margin-left: 75%
}
.row__col-xs-offset-10 {
  margin-left: 83.333333%
}
.row__col-xs-offset-11 {
  margin-left: 91.666667%
}
.row__col-xs-offset-12 {
  margin-left: 100%
}
@media (min-width: 513px) {
  .row__col-sm-1,.row__col-sm-10,.row__col-sm-11,.row__col-sm-12,.row__col-sm-2,.row__col-sm-3,.row__col-sm-4,.row__col-sm-5,.row__col-sm-6,.row__col-sm-7,.row__col-sm-8,.row__col-sm-9 {
    float:left
  }

  .row__col-sm-1 {
    width: 8.333333%
  }

  .row__col-sm-2 {
    width: 16.666667%
  }

  .row__col-sm-3 {
    width: 25%
  }

  .row__col-sm-4 {
    width: 33.333333%
  }

  .row__col-sm-5 {
    width: 41.666667%
  }

  .row__col-sm-6 {
    width: 50%
  }

  .row__col-sm-7 {
    width: 58.333333%
  }

  .row__col-sm-8 {
    width: 66.666667%
  }

  .row__col-sm-9 {
    width: 75%
  }

  .row__col-sm-10 {
    width: 83.333333%
  }

  .row__col-sm-11 {
    width: 91.666667%
  }

  .row__col-sm-12 {
    width: 100%
  }

  .row__col-sm-pull-0 {
    right: auto
  }

  .row__col-sm-pull-1 {
    right: 8.333333%
  }

  .row__col-sm-pull-2 {
    right: 16.666667%
  }

  .row__col-sm-pull-3 {
    right: 25%
  }

  .row__col-sm-pull-4 {
    right: 33.333333%
  }

  .row__col-sm-pull-5 {
    right: 41.666667%
  }

  .row__col-sm-pull-6 {
    right: 50%
  }

  .row__col-sm-pull-7 {
    right: 58.333333%
  }

  .row__col-sm-pull-8 {
    right: 66.666667%
  }

  .row__col-sm-pull-9 {
    right: 75%
  }

  .row__col-sm-pull-10 {
    right: 83.333333%
  }

  .row__col-sm-pull-11 {
    right: 91.666667%
  }

  .row__col-sm-pull-12 {
    right: 100%
  }

  .row__col-sm-push-0 {
    left: auto
  }

  .row__col-sm-push-1 {
    left: 8.333333%
  }

  .row__col-sm-push-2 {
    left: 16.666667%
  }

  .row__col-sm-push-3 {
    left: 25%
  }

  .row__col-sm-push-4 {
    left: 33.333333%
  }

  .row__col-sm-push-5 {
    left: 41.666667%
  }

  .row__col-sm-push-6 {
    left: 50%
  }

  .row__col-sm-push-7 {
    left: 58.333333%
  }

  .row__col-sm-push-8 {
    left: 66.666667%
  }

  .row__col-sm-push-9 {
    left: 75%
  }

  .row__col-sm-push-10 {
    left: 83.333333%
  }

  .row__col-sm-push-11 {
    left: 91.666667%
  }

  .row__col-sm-push-12 {
    left: 100%
  }

  .row__col-sm-offset-0 {
    margin-left: 0
  }

  .row__col-sm-offset-1 {
    margin-left: 8.333333%
  }

  .row__col-sm-offset-2 {
    margin-left: 16.666667%
  }

  .row__col-sm-offset-3 {
    margin-left: 25%
  }

  .row__col-sm-offset-4 {
    margin-left: 33.333333%
  }

  .row__col-sm-offset-5 {
    margin-left: 41.666667%
  }

  .row__col-sm-offset-6 {
    margin-left: 50%
  }

  .row__col-sm-offset-7 {
    margin-left: 58.333333%
  }

  .row__col-sm-offset-8 {
    margin-left: 66.666667%
  }

  .row__col-sm-offset-9 {
    margin-left: 75%
  }

  .row__col-sm-offset-10 {
    margin-left: 83.333333%
  }

  .row__col-sm-offset-11 {
    margin-left: 91.666667%
  }

  .row__col-sm-offset-12 {
    margin-left: 100%
  }
}

@media (min-width: 768px) {
  .row__col-md-1,.row__col-md-10,.row__col-md-11,.row__col-md-12,.row__col-md-2,.row__col-md-3,.row__col-md-4,.row__col-md-5,.row__col-md-6,.row__col-md-7,.row__col-md-8,.row__col-md-9 {
    float:left
  }

  .row__col-md-1 {
    width: 8.333333%
  }

  .row__col-md-2 {
    width: 16.666667%
  }

  .row__col-md-3 {
    width: 25%
  }

  .row__col-md-4 {
    width: 33.333333%
  }

  .row__col-md-5 {
    width: 41.666667%
  }

  .row__col-md-6 {
    width: 50%
  }

  .row__col-md-7 {
    width: 58.333333%
  }

  .row__col-md-8 {
    width: 66.666667%
  }

  .row__col-md-9 {
    width: 75%
  }

  .row__col-md-10 {
    width: 83.333333%
  }

  .row__col-md-11 {
    width: 91.666667%
  }

  .row__col-md-12 {
    width: 100%
  }

  .row__col-md-pull-0 {
    right: auto
  }

  .row__col-md-pull-1 {
    right: 8.333333%
  }

  .row__col-md-pull-2 {
    right: 16.666667%
  }

  .row__col-md-pull-3 {
    right: 25%
  }

  .row__col-md-pull-4 {
    right: 33.333333%
  }

  .row__col-md-pull-5 {
    right: 41.666667%
  }

  .row__col-md-pull-6 {
    right: 50%
  }

  .row__col-md-pull-7 {
    right: 58.333333%
  }

  .row__col-md-pull-8 {
    right: 66.666667%
  }

  .row__col-md-pull-9 {
    right: 75%
  }

  .row__col-md-pull-10 {
    right: 83.333333%
  }

  .row__col-md-pull-11 {
    right: 91.666667%
  }

  .row__col-md-pull-12 {
    right: 100%
  }

  .row__col-md-push-0 {
    left: auto
  }

  .row__col-md-push-1 {
    left: 8.333333%
  }

  .row__col-md-push-2 {
    left: 16.666667%
  }

  .row__col-md-push-3 {
    left: 25%
  }

  .row__col-md-push-4 {
    left: 33.333333%
  }

  .row__col-md-push-5 {
    left: 41.666667%
  }

  .row__col-md-push-6 {
    left: 50%
  }

  .row__col-md-push-7 {
    left: 58.333333%
  }

  .row__col-md-push-8 {
    left: 66.666667%
  }

  .row__col-md-push-9 {
    left: 75%
  }

  .row__col-md-push-10 {
    left: 83.333333%
  }

  .row__col-md-push-11 {
    left: 91.666667%
  }

  .row__col-md-push-12 {
    left: 100%
  }

  .row__col-md-offset-0 {
    margin-left: 0
  }

  .row__col-md-offset-1 {
    margin-left: 8.333333%
  }

  .row__col-md-offset-2 {
    margin-left: 16.666667%
  }

  .row__col-md-offset-3 {
    margin-left: 25%
  }

  .row__col-md-offset-4 {
    margin-left: 33.333333%
  }

  .row__col-md-offset-5 {
    margin-left: 41.666667%
  }

  .row__col-md-offset-6 {
    margin-left: 50%
  }

  .row__col-md-offset-7 {
    margin-left: 58.333333%
  }

  .row__col-md-offset-8 {
    margin-left: 66.666667%
  }

  .row__col-md-offset-9 {
    margin-left: 75%
  }

  .row__col-md-offset-10 {
    margin-left: 83.333333%
  }

  .row__col-md-offset-11 {
    margin-left: 91.666667%
  }

  .row__col-md-offset-12 {
    margin-left: 100%
  }
}

@media (min-width: 992px) {
  .row__col-lg-1,.row__col-lg-10,.row__col-lg-11,.row__col-lg-12,.row__col-lg-2,.row__col-lg-3,.row__col-lg-4,.row__col-lg-5,.row__col-lg-6,.row__col-lg-7,.row__col-lg-8,.row__col-lg-9 {
    float:left
  }

  .row__col-lg-1 {
    width: 8.333333%
  }

  .row__col-lg-2 {
    width: 16.666667%
  }

  .row__col-lg-3 {
    width: 25%
  }

  .row__col-lg-4 {
    width: 33.333333%
  }

  .row__col-lg-5 {
    width: 41.666667%
  }

  .row__col-lg-6 {
    width: 50%
  }

  .row__col-lg-7 {
    width: 58.333333%
  }

  .row__col-lg-8 {
    width: 66.666667%
  }

  .row__col-lg-9 {
    width: 75%
  }

  .row__col-lg-10 {
    width: 83.333333%
  }

  .row__col-lg-11 {
    width: 91.666667%
  }

  .row__col-lg-12 {
    width: 100%
  }

  .row__col-lg-pull-0 {
    right: auto
  }

  .row__col-lg-pull-1 {
    right: 8.333333%
  }

  .row__col-lg-pull-2 {
    right: 16.666667%
  }

  .row__col-lg-pull-3 {
    right: 25%
  }

  .row__col-lg-pull-4 {
    right: 33.333333%
  }

  .row__col-lg-pull-5 {
    right: 41.666667%
  }

  .row__col-lg-pull-6 {
    right: 50%
  }

  .row__col-lg-pull-7 {
    right: 58.333333%
  }

  .row__col-lg-pull-8 {
    right: 66.666667%
  }

  .row__col-lg-pull-9 {
    right: 75%
  }

  .row__col-lg-pull-10 {
    right: 83.333333%
  }

  .row__col-lg-pull-11 {
    right: 91.666667%
  }

  .row__col-lg-pull-12 {
    right: 100%
  }

  .row__col-lg-push-0 {
    left: auto
  }

  .row__col-lg-push-1 {
    left: 8.333333%
  }

  .row__col-lg-push-2 {
    left: 16.666667%
  }

  .row__col-lg-push-3 {
    left: 25%
  }

  .row__col-lg-push-4 {
    left: 33.333333%
  }

  .row__col-lg-push-5 {
    left: 41.666667%
  }

  .row__col-lg-push-6 {
    left: 50%
  }

  .row__col-lg-push-7 {
    left: 58.333333%
  }

  .row__col-lg-push-8 {
    left: 66.666667%
  }

  .row__col-lg-push-9 {
    left: 75%
  }

  .row__col-lg-push-10 {
    left: 83.333333%
  }

  .row__col-lg-push-11 {
    left: 91.666667%
  }

  .row__col-lg-push-12 {
    left: 100%
  }

  .row__col-lg-offset-0 {
    margin-left: 0
  }

  .row__col-lg-offset-1 {
    margin-left: 8.333333%
  }

  .row__col-lg-offset-2 {
    margin-left: 16.666667%
  }

  .row__col-lg-offset-3 {
    margin-left: 25%
  }

  .row__col-lg-offset-4 {
    margin-left: 33.333333%
  }

  .row__col-lg-offset-5 {
    margin-left: 41.666667%
  }

  .row__col-lg-offset-6 {
    margin-left: 50%
  }

  .row__col-lg-offset-7 {
    margin-left: 58.333333%
  }

  .row__col-lg-offset-8 {
    margin-left: 66.666667%
  }

  .row__col-lg-offset-9 {
    margin-left: 75%
  }

  .row__col-lg-offset-10 {
    margin-left: 83.333333%
  }

  .row__col-lg-offset-11 {
    margin-left: 91.666667%
  }

  .row__col-lg-offset-12 {
    margin-left: 100%
  }
}

@media (min-width: 1200px) {
  .row__col-xl-1,.row__col-xl-10,.row__col-xl-11,.row__col-xl-12,.row__col-xl-2,.row__col-xl-3,.row__col-xl-4,.row__col-xl-5,.row__col-xl-6,.row__col-xl-7,.row__col-xl-8,.row__col-xl-9 {
    float:left
  }

  .row__col-xl-1 {
    width: 8.333333%
  }

  .row__col-xl-2 {
    width: 16.666667%
  }

  .row__col-xl-3 {
    width: 25%
  }

  .row__col-xl-4 {
    width: 33.333333%
  }

  .row__col-xl-5 {
    width: 41.666667%
  }

  .row__col-xl-6 {
    width: 50%
  }

  .row__col-xl-7 {
    width: 58.333333%
  }

  .row__col-xl-8 {
    width: 66.666667%
  }

  .row__col-xl-9 {
    width: 75%
  }

  .row__col-xl-10 {
    width: 83.333333%
  }

  .row__col-xl-11 {
    width: 91.666667%
  }

  .row__col-xl-12 {
    width: 100%
  }

  .row__col-xl-pull-0 {
    right: auto
  }

  .row__col-xl-pull-1 {
    right: 8.333333%
  }

  .row__col-xl-pull-2 {
    right: 16.666667%
  }

  .row__col-xl-pull-3 {
    right: 25%
  }

  .row__col-xl-pull-4 {
    right: 33.333333%
  }

  .row__col-xl-pull-5 {
    right: 41.666667%
  }

  .row__col-xl-pull-6 {
    right: 50%
  }

  .row__col-xl-pull-7 {
    right: 58.333333%
  }

  .row__col-xl-pull-8 {
    right: 66.666667%
  }

  .row__col-xl-pull-9 {
    right: 75%
  }

  .row__col-xl-pull-10 {
    right: 83.333333%
  }

  .row__col-xl-pull-11 {
    right: 91.666667%
  }

  .row__col-xl-pull-12 {
    right: 100%
  }

  .row__col-xl-push-0 {
    left: auto
  }

  .row__col-xl-push-1 {
    left: 8.333333%
  }

  .row__col-xl-push-2 {
    left: 16.666667%
  }

  .row__col-xl-push-3 {
    left: 25%
  }

  .row__col-xl-push-4 {
    left: 33.333333%
  }

  .row__col-xl-push-5 {
    left: 41.666667%
  }

  .row__col-xl-push-6 {
    left: 50%
  }

  .row__col-xl-push-7 {
    left: 58.333333%
  }

  .row__col-xl-push-8 {
    left: 66.666667%
  }

  .row__col-xl-push-9 {
    left: 75%
  }

  .row__col-xl-push-10 {
    left: 83.333333%
  }

  .row__col-xl-push-11 {
    left: 91.666667%
  }

  .row__col-xl-push-12 {
    left: 100%
  }

  .row__col-xl-offset-0 {
    margin-left: 0
  }

  .row__col-xl-offset-1 {
    margin-left: 8.333333%
  }

  .row__col-xl-offset-2 {
    margin-left: 16.666667%
  }

  .row__col-xl-offset-3 {
    margin-left: 25%
  }

  .row__col-xl-offset-4 {
    margin-left: 33.333333%
  }

  .row__col-xl-offset-5 {
    margin-left: 41.666667%
  }

  .row__col-xl-offset-6 {
    margin-left: 50%
  }

  .row__col-xl-offset-7 {
    margin-left: 58.333333%
  }

  .row__col-xl-offset-8 {
    margin-left: 66.666667%
  }

  .row__col-xl-offset-9 {
    margin-left: 75%
  }

  .row__col-xl-offset-10 {
      margin-left: 83.333333%
  }

  .row__col-xl-offset-11 {
    margin-left: 91.666667%
  }

  .row__col-xl-offset-12 {
    margin-left: 100%
  }
}
/*! main */
body{
  background-image: url(../img/main_img.jpg);
  background-position: center top;
  min-height: 1000px;
  background-color: #34353a;
  background-repeat: no-repeat;
}
html, body{
  font-family: 'text';
  color: #fff;
  font-weight: 400;
}
