<div class="teh-form" align="center">
  <%= simple_form_for(@payment) do |f| %>
      <div class="input-wrap"><%= f.input :amount, label: 'Сумма в кредитах' %></div>
      <div class="input-wrap"><%= f.input :email, label: 'Warface Email' %></div>
      <%= f.submit %>
  <% end %>
</div>