<div class="case-open">
  <div class="case-open__ico case-open__ico--1"><img src="/img/case-img.png" alt="case"></div>
  <div class="case-open__ico case-open__ico--2"><img src="/img/case-ico3.png" alt="case"></div>
  <img src="/img/case-open.png" class="case1"  alt="case">
  <img src="/img/bg-case.jpg" class="case2" alt="case">
  <div class="carousel" id="carousel_out">
    <div class="slider_item owl-carousel owl-theme" id="carousel_in">
      <% unless user_signed_in?  %>
        <%= render 'carousel1' %>
        <%= render 'carousel2' %>
      <% else %>
        <% if current_user.case_type == 1 %>
          <%= render 'carousel1' %>
        <% elsif current_user.case_type == 2 %>
          <%= render 'carousel2' %>
        <% end  %>
      <% end %>
    </div>
  </div>
  <img src="/img/1204-naklejka-Pricel.png" alt="pricel" class="pricel">
</div>