<div class="item_car" data-hash="17">
  <img src="/img/case2/AA-12.png" alt="">
  <div class="weapon-item__info">
    <p>Турнирные шлема</p>
    <b>40 К</b>
  </div>
</div>
<div class="item_car" data-hash="18">
  <img src="/img/case2/AK-47.png" alt="">
  <div class="weapon-item__info">
    <p>AUG A3 9mm</p>
    <b>80 К</b>
  </div>
</div>
<div class="item_car" data-hash="19">
  <img src="/img/case2/AT308.png" alt="">
  <div class="weapon-item__info">
    <p>AT308</p>
    <b>160 К</b>
  </div>
</div>
<div class="item_car" data-hash="20">
  <img src="/img/case2/XM8-Compact.png" alt="">
  <div class="weapon-item__info">
    <p>M14 Crazy Horse</p>
    <b>320 К</b>
  </div>
</div>
<div class="item_car" data-hash="21">
  <img src="/img/case2/Tavor-CTAR-21.png" alt="">
  <div class="weapon-item__info">
    <p>McMillan CS5</p>
    <b>400 К</b>
  </div>
</div>
<div class="item_car" data-hash="22">
  <img src="/img/case2/Calico-M951S.png" alt="">
  <div class="weapon-item__info">
    <p>Calico M951S</p>
    <b>500 К</b>
  </div>
</div>
<div class="item_car" data-hash="23">
  <img src="/img/case2/USAS-12.png" alt="">
  <div class="weapon-item__info">
    <p>USAS 12</p>
    <b>750 К</b>
  </div>
</div>
<div class="item_car" data-hash="24">
  <img src="/img/case2/Gold-DP-12.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой DP 12</p>
    <b>1000 К</b>
  </div>
</div>
<div class="item_car" data-hash="25">
  <img src="/img/case2/Gold-M249-Para.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой M249 Para</p>
    <b>1500 К</b>
  </div>
</div>
<div class="item_car" data-hash="26">
  <img src="/img/case2/Gold-MAG-7.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой MAG 7</p>
    <b>2500 К</b>
  </div>
</div>
<div class="item_car" data-hash="27">
  <img src="/img/case2/Gold-Steyr-Scout.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой Steyr Scout</p>
    <b>5000 К</b>
  </div>
</div>
<div class="item_car" data-hash="28">
  <img src="/img/case2/Gold-AX308.png" alt="">
  <div class="weapon-item__info">
    <p>Золотая AX308</p>
    <b>7500 К</b>
  </div>
</div>
<div class="item_car" data-hash="29">
  <img src="/img/case2/Gold-Honey-Badger.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой Honey Badger</p>
    <b>10000 К</b>
  </div>
</div>
<div class="item_car" data-hash="30">
  <img src="/img/case2/Gold-FN-SCAR-H.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой FN SCAR-H</p>
    <b>15000 К</b>
  </div>
</div>
<div class="item_car" data-hash="31">
  <img src="/img/case2/Gold-AS50.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой AS50</p>
    <b>25000 К</b>
  </div>
</div>
<div class="item_car" data-hash="32">
  <img src="/img/case2/Gold-Tavor-CTAR-21.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой Tavor CTAR-21</p>
    <b>35000 К</b>
  </div>
</div>