<div class="tabs__content tabs__content_active" id="content1">
  <div class="weapon-wrap">
    <div class="line line--vertical line--1"></div>
    <div class="line line--vertical line--2"></div>
    <div class="line line--vertical line--3"></div>
    <div class="line line--vertical line--4"></div>
    <div class="line line--vertical line--5"></div>
    <div class="line line--horizontal line--6"></div>
    <div class="line line--horizontal line--7"></div>
    <div class="line line--horizontal line--8"></div>
    <div class="line line--horizontal line--9"></div>
    <div class="line line--horizontal line--10"></div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-Glock-18C.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Саперная Лопатка</p>
        <b>30 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-SIG-Sauer-P226-C.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>SIG Sauer P226 C</p>
        <b>60 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-VSS-Vintorez.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>ВСС Винторез</p>
        <b>90 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-FN-F2000.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>MSBS Radon</p>
        <b>160 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-Honey-Badger.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Kel-Tec Shotgun</p>
        <b>200 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-Steyr-Scout.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>AX308</p>
        <b>300 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-M16A3.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>M16A3</p>
        <b>500 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-AS50.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>AS50</p>
        <b>750 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-Gold-M14 Crazy Horse.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотая M14 Crazy Horse</p>
        <b>1000 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-Gold-Magpul FMG-9.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотой Magpul FMG-9</p>
        <b>2000 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-Gold-SVU-AS.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотая СВУ-АС</p>
        <b>3500 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-Gold-Enfield L85A2.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотая Enfield L85A2</p>
        <b>5000 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-Gold-Fabarm STF 12.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотой Fabarm STF 12</p>
        <b>7500 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-Gold-SCAR-L PDW.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотой SCAR-L PDW</p>
        <b>10000 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-Gold-M16A3.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотой M16A3</p>
        <b>15000 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case1/case1-Gold-Saiga-12C.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотая Сайга-12С</p>
        <b>25000 K</b>
      </div>
    </div>
  </div>
</div>