<div class="block__content in-case">
  <div class="weapon-wrap">

    <div class="line line--vertical line--1"></div>
    <div class="line line--vertical line--2"></div>
    <div class="line line--vertical line--3"></div>
    <div class="line line--vertical line--4"></div>
    <div class="line line--vertical line--5"></div>
    <div class="line line--horizontal line--6"></div>
    <div class="line line--horizontal line--7"></div>
    <div class="line line--horizontal line--8"></div>
    <div class="line line--horizontal line--9"></div>
    <div class="line line--horizontal line--10"></div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/AA-12.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Турнирные шлема</p>
        <b>40 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/AK-47.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>AUG A3 9mm</p>
        <b>80 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/AT308.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>AT308</p>
        <b>160 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/XM8-Compact.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>M14 Crazy Horse</p>
        <b>320 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/Tavor-CTAR-21.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>McMillan CS5</p>
        <b>400 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/Calico-M951S.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Calico M951S</p>
        <b>500 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/USAS-12.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>USAS-12</p>
        <b>750 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/Gold-DP-12.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотой DP-12</p>
        <b>1000 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/Gold-M249-Para.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотой M249 Para</p>
        <b>1500 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/Gold-MAG-7.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотой MAG-7</p>
        <b>2500 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/Gold-Steyr-Scout.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотой Steyr Scout</p>
        <b>5000 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/Gold-AX308.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотая AX308</p>
        <b>7500 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/Gold-Honey-Badger.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотой Remington R11</p>
        <b>10000 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/Gold-FN-SCAR-H.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотой FN SCAR-H</p>
        <b>15000 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/Gold-AS50.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотой AS50</p>
        <b>25000 К</b>
      </div>
    </div>
    <div class="weapon-item">
      <div class="weapon-item__img"><img src="/img/case2/Gold-Tavor-CTAR-21.png" alt="weapon"></div>
      <div class="weapon-item__info">
        <p>Золотой Tavor CTAR-21</p>
        <b>35000 К</b>
      </div>
    </div>
  </div>
</div>