<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/AA-12.png" alt="">
  <div class="weapon-item__info">
    <p>AA 12</p>
    <b>40 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/AK-47.png" alt="">
  <div class="weapon-item__info">
    <p>AK-47</p>
    <b>80 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/AT308.png" alt="">
  <div class="weapon-item__info">
    <p>AT308</p>
    <b>160 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/XM8-Compact.png" alt="">
  <div class="weapon-item__info">
    <p>XM8 Compact</p>
    <b>320 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/Tavor-CTAR-21.png" alt="">
  <div class="weapon-item__info">
    <p>Tavor CTAR 21</p>
    <b>400 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/Calico-M951S.png" alt="">
  <div class="weapon-item__info">
    <p>Calico M951S</p>
    <b>500 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/USAS-12.png" alt="">
  <div class="weapon-item__info">
    <p>USAS 12</p>
    <b>750 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/Gold-DP-12.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой DP 12</p>
    <b>1000 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/Gold-M249-Para.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой M249 Para</p>
    <b>1500 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/Gold-MAG-7.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой MAG 7</p>
    <b>2500 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/Gold-Steyr-Scout.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой Steyr Scout</p>
    <b>5000 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/Gold-AX308.png" alt="">
  <div class="weapon-item__info">
    <p>Золотая AX308</p>
    <b>7500 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/Gold-Honey-Badger.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой Honey Badger</p>
    <b>10000 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/Gold-FN-SCAR-H.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой FN SCAR-H</p>
    <b>15000 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/Gold-AS50.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой AS50</p>
    <b>25000 К</b>
  </div>
</div>
<div class="item_car" data-hash="<%= rand(-99..-1) %>">
  <img src="/img/case2/Gold-Tavor-CTAR-21.png" alt="">
  <div class="weapon-item__info">
    <p>Золотой Tavor CTAR-21</p>
    <b>35000 К</b>
  </div>
</div>