<% @style = 'style=' + 'background:#666666;' %>
<% if user_signed_in? %>
  <% current_user.case_type == 1 ? @case_type = 'РЕДКИЙ' : @case_type = 'ЛЕГЕНДАРНЫЙ' %>
<% end %>
<body>
<main>
  <section class="go-case" id="go-case-js">
    <div class="container">
      <h2 class="page-title">2 <span>Cases</span><i>выберете кейс</i></h2>
      <div id="js">
        <div class="case-wrap">
          <% if user_signed_in? %>
            <%= link_to switch_case_posts_path(case_type: 1), style: 'color: white;', remote: true do %>
                  <div class="case-item" <%= @style if current_user.case_type == 1 %>>
                <div class="case-item__ico"><img src="/img/case-ico1.png" alt="ico1"></div>
                <p>«Редкий»</p>
                <b><span>79</span> рублей</b>
              </div>
            <% end %>
            <%= link_to switch_case_posts_path(case_type: 2), style: 'color: white;', remote: true do %>
              <div class="case-item" <%= @style if current_user.case_type == 2 %>>
                <div class="case-item__ico"><img src="/img/case-ico2.png" alt="ico1"></div>
                <p>«Легендарный»</p>
                <b><span>159</span> рублей</b>
              </div>
            <% end %>
          <% else %>
              <%= link_to user_vkontakte_omniauth_authorize_path, style: 'color: white;' do %>
                  <div class="case-item">
                    <div class="case-item__ico"><img src="/img/case-ico1.png" alt="ico1"></div>
                    <p>«Редкий»</p>
                    <b><span>79</span> рублей</b>
                  </div>
              <% end %>
              <%= link_to user_vkontakte_omniauth_authorize_path, style: 'color: white;' do %>
                  <div class="case-item">
                    <div class="case-item__ico"><img src="/img/case-ico2.png" alt="ico1"></div>
                    <p>«Легендарный»</p>
                    <b><span>159</span> рублей</b>
                  </div>
              <% end %>
          <% end %>
        </div>
        <div id="test">
        <%= render 'carousel' %>
          <% unless user_signed_in? %>
              <div class="autorization">
                <button class="autorization__btn" onclick="location.href='/users/auth/vkontakte'"><img src="img/vk-btn.png" alt="vk"><span>вход через vk</span></button>
              </div>
          <% else %>
              <% if current_user.balance >= 79 %>
                  <a class="play-btn" id="play-btn" href="<%= games_play_path %>" data-remote="true">играть сейчас</a>
              <% else %>
                  <a class="play-btn btn_pop">Пополнить баланс</a>
              <% end %>
          <% end %>
        </div>
        <div class="block block--weapon">
          <div class="block__title">
            <h3><b>In your  <span>case</span></b><i> может выпасть</i></h3>
          </div>
          <div class="block__content in-case">
            <% if user_signed_in? %>
                <% if current_user.case_type == 1 %>
                  <%= render 'case1' %>
                <% elsif current_user.case_type == 2 %>
                  <%= render 'case2' %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <div id="doors_js">
    <div class="doors">
      <div class="doors_left"></div>
      <div class="doors_right"></div>
      <!-- Я изменил этот блок, чтобы не путаться в стилях написал все здесь -->

      <!-- Старт -->
      <div class="bg_item_block">
        <div class="case_shield"><img style="position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);" src="img/icon-case.png" alt=""></div>
        <h3 id="case_name" style="text-align: center; background-color: rgb(46, 48, 50); padding: 25px 0;">IN «<%= @case_type %>»:</h3>
        <div class="weapon-item">
          <div class="weapon-item__img">
            <img src="/img/case2/AA-12.png" alt="weapon">
          </div>
          <div class="weapon-item__info">
            <p> AA-12.png</p>
            <b>40 К</b>
          </div>
        </div>
      </div>
      <!-- КОНЕЦ -->
    </div>
  </div>
</main>
</body>
