<main>
  <section class="teh-page">
    <div class="container">
      <h2 class="page-title">Техническая <span>Поддержка</span><i>Напишите нам</i></h2>
      <div class="teh-form">
        <form>
          <div class="input-wrap"><input type="text" placeholder="Имя"><i class="fa fa-user" aria-hidden="true"></i></div>
          <div class="input-wrap"><input type="password" placeholder="Введите адрес вк"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
          <textarea></textarea>
          <div class="send-btn">
            <button>Отправить на email <span><i class="fa fa-share" aria-hidden="true"></i></span></button>
            <span>или</span>
            <a href="https://vk.com/im?media=&sel=-151179280"><img src="/img/vk-btn.png" alt="vk"></a>
          </div>
        </form>
      </div>
      <div class="contacts-bot">
        <div class="contacts-item">
          <b>Skype:</b>
          <a href="skype:torrentbig?call">torrentbig</a>
        </div>
        <div class="contacts-item">
          <b>почта:</b>
          <a href="mailto:warface_game_online@gmail.com">warface_game_online@gmail.com</a>
        </div>
        <div class="contacts-item">
          <b>Группа в вк:</b>
          <a href="https://vk.com/case_wf_drop">https://vk.com/case_wf_drop</a>
        </div>
      </div>
    </div>
  </section>
</main>