<main>
  <section class="question">
    <div class="container">
      <div class="block block--question block--weapon">
        <div class="block__title">
          <h3><b>Вопрос.   <span>Ответ.</span></b><i>актуальне вопросы</i></h3>
        </div>
        <div class="block__content in-case mb1">
          <div class="question-wrap">
            <div class="question-top active">
              <p>НЕ ПРИШЛИ ВЫИГРАННЫЕ КРЕДИТЫ НА АККАУНТ.</p>
              <div class="number"><b>просмотров:</b> <span>305</span></div>
            </div>
            <div class="ansver" style="display: block;">
              <p>Обычно выплата выигрыша на аккаунт, почта которого была указана при выводе, происходит автоматически в течение одной минуты. Но в случае, если Вы выиграли, затем зашли в игру и не увидели выигранных кредитов на игровом счету – ничего страшного. Периодически у нас проводятся профилактические работы и кредиты Вам обязательно придут в течение 24 часов. Если же в течение этого времени выигрыш все еще не оказался у Вас на аккаунте – обязательно пишите в нашу техническую поддержку.</p>
            </div>
          </div>
          <div class="question-wrap">
            <div class="question-top ">
              <p>ПОПОЛНИЛ СЧЕТ НА САЙТЕ, А ДЕНЬГИ НЕ ПРИШЛИ.</p>
              <div class="number"><b>просмотров:</b> <span>124</span></div>
            </div>
            <div class="ansver" >
              <p>В некоторых случаях деньги могут прийти не сразу, а с задержкой. Поэтому не паникуйте, пожалуйста, и подождите 2 часа. Если же в течение этого времени деньги не появились на балансе – обязательно пишите в нашу техническую поддержку. При этом не забудьте указать ссылку на свой аккаунт Вконтакте, баланс которого Вы пополняли, и приложить скриншот чека, который пришел Вам на почту, указанную при оплате.</p>
            </div>
          </div>
          <div class="question-wrap">
            <div class="question-top ">
              <p>ЗАЧЕМ ВВОДИТЬ ПОЧТУ ИЛИ ПЛАТЕЖНЫЙ ID ПРИ ВЫВОДЕ ВЫИГРЫША?</p>
              <div class="number"><b>просмотров:</b> <span>70</span></div>
            </div>
            <div class="ansver" >
              <p>Указывать e-mail или платежный ID необходимо для отправки выигранных кредитов. Выигрыш поступает на игровой счет аккаунта, зарегистрированного на указанную почту или имеющий данный платежный ID. Если Вы не знаете, что именно необходимо вводить, то следуйте инструкции:</p>
              <ul>
                <li><p>1. Решите, на какой аккаунт Вы хотите получить выигранные кредиты (это может быть любой аккаунт, даже Вашего друга)</p></li>
                <li><p>2. Войдите в свой аккаунт на официальном сайте wf.mail.ru</p></li>
                <li><p>3. Почта, которую Вы вводили при входе — и есть тот самый e-mail, который необходимо ввести на нашем сайте. А зайдя в личный кабинет, Вы увидите свой платежный ID</p></li>
              </ul>
            </div>
          </div>
          <div class="question-wrap">
            <div class="question-top ">
              <p>ЧТО ДЕЛАТЬ, ЕСЛИ УКАЗАЛ НЕПРАВИЛЬНУЮ ПОЧТУ?</p>
              <div class="number"><b>просмотров:</b> <span>158</span></div>
            </div>
            <div class="ansver" >
              <p>Вывод выигранных кредитов на Ваш аккаунт производится автоматически в течение одной минуты, поэтому вернуть кредиты возможности нет. Мы призываем вас быть внимательнее при вводе почты или платежного ID для вывода, и никуда не спешить</p>
            </div>
          </div>
          <div class="question-wrap">
            <div class="question-top ">
              <p>ПОГАСЯТ ЛИ ВЫИГРАННЫЕ КРЕДИТЫ С САЙТА БЕСПРОЦЕНТНЫЙ КРЕДИТ НА АККАУНТЕ?</p>
              <div class="number"><b>просмотров:</b> <span>70</span></div>
            </div>
            <div class="ansver" >
              <p>Да, если у вас имеется задолженность в виде беспроцентного кредита, то выигрыш с нашего сайта его погасит. Более того, выигранные кредиты с сайта учитываются во всех акциях от mail.ru и пополняет вам счет на: https://bonus.games.mail.ru/.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
