<main>
  <section class="question">
    <div class="container">
      <div class="block block--weapon">
        <div class="block__title">
          <h3><b>Топ <span>Игроков</span></b><i>счастливчики</i></h3>
        </div>
        <div class="block__content top-player">
          <% @top_users.limit(4).each_with_index do |user, index| %>
          <div class="player-item">
            <div class="player-item__number"><%= index + 1 %></div>
            <div class="player-item__img"><%= image_tag @avatars[index], size: '155x155' %></div>
            <div class="name"><%= user.name %></div>
            <div class="player-item__bot">
              <p>Открыто кейсов: <%= user.case_opened %></p>
              <b><%= user.credit_history %>K</b>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="block">
        <div class="block__content top-list">
          <div class="list-table">
            <div class="list-line list-line--top">
              <div class="list-cell">номер</div>
              <div class="list-cell">пользователь</div>
              <div class="list-cell">открытые кейсы</div>
              <div class="list-cell">кредиты</div>
            </div>
            <% @top_users.each_with_index do |user, index| %>
              <div class="list-line">
                <div class="list-cell"><%= index + 1 %></div>
                <div class="list-cell"><%= image_tag @avatars[index] %> <p><%= user.name %></p></div>
                <div class="list-cell"><%= user.case_opened %></div>
                <div class="list-cell"><%= user.credit_history %>K</div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</main>