<footer class="footer">
  <div class="container">
    <div class="footer__logo"><a href="#"><img src="/img/footer-logo.png" alt="logo"></a></div>
    <div class="footer__bot">
      <div class="teh"><a href="/posts/new">Техническая поддержка</a></div>
      <div class="privacy">
        <b> ©2017 <span>wf-drop</span></b>
        <p>все права защищенны </p>
      </div>
      <div class="wellet">
        <a href="#"><img src="/img/wal1.png" alt="wal"></a>
        <a href="#"><img src="/img/wal2.png" alt="wal"></a>
        <a href="#"><img src="/img/wal3.png" alt="wal"></a>
      </div>
    </div>
  </div>
</footer>