<%  if user_signed_in?
      uri = URI.parse "https://api.vk.com/method/users.get?user_id=#{current_user.uid}&fields=photo_100&v=5.52&access_token=61183cdd61183cdd61183cddfb6145300a6611861183cdd3841350b99693d0b1a2c277d"
      result = Net::HTTP.get(uri)
      parsed_result =  JSON.parse(result)
      @avatar = parsed_result['response'][0]['photo_100']
    end
%>
<%
@online_count = 0
User.all.each do |user|
  @online_count += 1 if user.online?
end
@online_count
%>
<%
  @livedrop_games = LivedropGame.order(created_at: :desc).limit(40)
%>
<header class="header">
  <div class="container">
    <div class="row">
      <div class="row__col-sm-5 row__col-xs-9">
        <div class="burger">
          <button>
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="header__menu">
          <ul class="links">
            <li><a <%= 'class=link__active' if action_name == 'index' %> href="/">главная</a></li>
            <li><a href="/posts/top">топ игроков</a></li>
            <li><a href="/posts/questions">вопросы</a></li>
            <li><a href="/posts/new">техническая поддержка</a></li>
          </ul>
        </div>
      </div>
      <div class="row__col-sm-2 row__col-xs-3">
        <div class="header__logo"><a href="#"><img src="/img/logo.png" alt="logo"></a></div>
      </div>
      <div class="row__col-sm-5">
        <div class="header__info top-info">
          <div class="top-info__item">
            <img src="/img/people-ico.png" alt="ico">
            <p>всего online:  <span><%= @online_count %></span></p>
          </div>
          <div class="top-info__item">
            <img src="/img/people-ico1.png" alt="ico">
            <p>всего пользователей на сайте:   <span><%= User.all.count %></span></p>
          </div>
        </div>
      </div>
    </div>
    <% unless user_signed_in? %>
        <div class="autorization">
          <button class="autorization__btn" onclick="location.href='/users/auth/vkontakte'"><img src="/img/vk-btn.png" alt="vk"><span>вход через vk</span></button>
        </div>
    <% else %>
        <div class="autorization autorization--in" id="auth-js">
          <div class="autorization__person">
            <%= image_tag @avatar, size: '75x75' %>
            <div class="person-contect">
              <h3><%= current_user.name %></h3>
              <button class="btn_inv">Инвентарь</button>
            </div>
          </div>
          <div class="profit">
            <p>Выигрыш <span id="user_credits"><%= current_user.credits %> K</span></p>
            <button class="btn_viv">вывести</button>
          </div>
          <div class="balance">
            <p>Баланс <span id="user_balance"><%= current_user.balance %> р</span></p>
            <button class="btn_pop">пополнить</button>
          </div>
          <div class="log-out">
            <a href="/sign_out" data-method="delete">Выход</a><img src="/img/exit.png" alt="exit">
          </div>
        </div>
    <% end %>
    <div class="block">
      <div class="block__title">
        <h3><b>Live <span>Drop</span></b><i>выигрыши</i></h3>
      </div>
      <div class="block__content live-drop">
        <div class="drop-slider">
          <% @livedrop_games.each do |game| %>
            <div class="drop-item">
              <div class="drop-item__number"><%= game.id %></div>
              <div class="drop-item__img"><img src="/img/livedrop/<%= game.weapon %>.png" alt="drop" width="39"></div>
              <div class="drop-item__info">
                <p><%= game.user.name.size > 14 ? (game.user.name[0..11] + '...') : game.user.name %> <span><%= game.credits %> К</span></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>