<%
  @user_inventory = current_user.livedrop_games
%>
<%
  @user_payments = current_user.payments
%>
<div class="mask"></div>
<div class="popup" id="inventar">
  <div class="close_popup">x</div>
  <div class="input_block">
    <h2>Ваш инвентарь</h2>
    <p>Все ваши выиграши на сайте</p>
    <hr>
    <div class="item_popup_inventar">
      <% @user_inventory.each do |item| %>
        <div class="single_item_popup">
          <img src="/img/livedrop/<%= item.weapon %>.png">
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="popup" id="vivod">
  <div class="close_popup">x</div>
  <div class="input_block">
    <h2>Вывод кредитов</h2>
    <hr>
    <% if current_user.credits < 300 && current_user.balance > 0 %>
      <%= '<p class="popup_warn">Баланс кредитов меньше 300</p>'.html_safe %>
    <% else %>
      <h3>Введите свою игровую почту:</h3>
      <%= simple_form_for (Payment.new) do |f| %>
          <div class="block_new">
            <%= f.hidden_field :amount, value: current_user.credits %>
            <%= f.input :email, label: false, name: 'mailvivod' %>
            <%= f.submit 'вывести', id: 'vivod_btn' %>
          </div>
      <% end %>
    <% end %>
    <p>Кредиты поступят на ваш аккаунт в течении одной минуты.</p>
  </div>
  <div class="history">
    <h3>История выводов</h3>
    <hr>
    <div class="table_head">
      <div class="mail_left">
        EMAIL
      </div>
      <div class="right_popup_table_block">
        <div class="summ_in_pop">
          КОЛ-ВО
        </div>
        <div class="date_in_pop">
          ДАТА
        </div>
      </div>
    </div>
    <hr>
    <% current_user.payments.each do |payment| %>
      <div class="table_block">
        <div class="mail_left">
          <%= payment.email[0..15] %>
        </div>
        <div class="right_popup_table_block">
          <div class="summ_in_pop">
            <%= payment.amount %>
          </div>
          <div class="date_in_pop">
            <%= payment.created_at.strftime("%Y-%m-%d") %>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
<div class="popup" id="popolnit">
  <div class="close_popup">x</div>
  <div class="input_block">
    <h2>Пополнение баланса</h2>
    <p>Вы можете пополнить свой баланс</p>
    <hr>
    <h3>Введите сумму на которую хотите пополнить свой баланс на сайт:</h3>
    <div class="block_new">
      <%= simple_form_for Order.new, html: {style: 'display: flex;
                                                    justify-content: space-between;
                                                    width: 100%;
                                                    display: -webkit-flex;
                                                    -webkit-justify-content: space-between;'} do |f| %>
          <%= f.input :amount, label: false, input_html: { value: 100 } %>
          <%= f.submit 'пополнить', id: 'popoln_btn' %>
      <% end %>
    </div>
    <p>
      Деньги поступают на Ваш баланс моментально.
    </p>
  </div>
  <div class="history">
    <h3>История пополнений</h3>
    <hr>
    <div class="table_head">
      <div class="mail_left">
        ID операции
      </div>
      <div class="right_popup_table_block">
        <div class="summ_in_pop">
          КОЛ-ВО
        </div>
        <div class="date_in_pop">
          ДАТА
        </div>
      </div>
    </div>
    <hr>
    <% current_user.orders.where(finished: true).each do |order| %>
      <div class="table_block">
        <div class="mail_left">
          <%= order.id %>
        </div>
        <div class="right_popup_table_block">
          <div class="summ_in_pop">
            <%= order.amount %>
          </div>
          <div class="date_in_pop">
            <%= order.created_at.strftime("%Y-%m-%d") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
