<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Warface</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/plugin.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <p class="notice"><%= flash[:notice] %></p>
  <p class="alert"><%= flash[:alert] %></p>
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/popups' if user_signed_in? %>
  <script src="/js/plugin.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/main.js"></script>
  <script>
    $('.btn_pop').click(function (e) {
      $('.mask').css('visibility', 'visible').css('opacity', '.8')
      $('#popolnit').css('visibility', 'visible').css('opacity', '1');
    })
    $('.btn_viv').click(function (e) {
      $('.mask').css('visibility', 'visible').css('opacity', '.8')
      $('#vivod').css('visibility', 'visible').css('opacity', '1');
    })
    $('.btn_inv').click(function (e) {
      $('.mask').css('visibility', 'visible').css('opacity', '.8')
      $('#inventar').css('visibility', 'visible').css('opacity', '1');
    })
    $('.close_popup').click(function (e) {
      $('.mask').css('visibility', 'hidden').css('opacity', '0')
      $('.popup').css('visibility', 'hidden').css('opacity', '0');
    })
  </script>
</body>
</html>
